@using System.Configuration
@using TUMI.TIC.ClienteWeb.Models.Cuenta;
@using TUMI.TIC.BloqueDatos;
@model Login
@{
    Layout = null;
    IgnoreBody();
}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>@Constantes.TituloLogin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="Rossini" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="assets/css/vendors.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body class="bg-white">
    <div class="app">
        <div class="app-wrap">
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="assets/img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <div class="app-contant">
                <div class="bg-white">
                    <div class="container-fluid p-0">
                        <div class="row no-gutters">
                            <div class="col-sm-6 col-lg-5 col-xxl-3  align-self-center order-2 order-sm-1">
                                <div class="d-flex align-items-center h-100-vh">
                                    <div class="login p-50">
                                        <h1 class="mb-2">SISTEMA @Constantes.CodigoAplicacion</h1>
                                        <p class="text-center">@Constantes.MensajeLogin</p>
                                        <br />
                                        @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, false, new { role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, ViewData["RespuestaMensaje"].ToString(), new { @class = "alert alert-danger" })
                                            <br />
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="inputUsuario">Ingrese usuario </label>
                                                        @Html.TextBoxFor(m => m.Usuario, new { @class = "form-control", @type = "text", id = "inputUsuario", placeholder = "Ingrese Usuario", maxlength = 50, required = true, autofocus = true, autocomplete=false })
                                                        @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label" for="inputPassword">Ingrese contraseña</label>
                                                        @Html.PasswordFor(m => m.Clave, new { @class = "form-control", @type = "password", id = "inputPassword", placeholder = "Ingrese Contraseña", required = true })
                                                        @Html.ValidationMessageFor(m => m.Clave, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <button type="submit" class="btn btn-primary text-uppercase" style="float: right;">@Constantes.BotonInicioSesion</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-9 col-lg-7 bg-gradient o-hidden order-1 order-sm-2">
                                <div class="row align-items-center h-100">
                                    <div class="col-7 mx-auto ">
                                        <img class="img-fluid" src="assets/img/bg/login.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/vendors.js"></script>  
    <script src="assets/js/app.js"></script>
</body>
</html>